.create-main{
    background-color: #EFF5F9;
    min-height: calc(100vh - 74px);
    height: auto;
    align-items: center;
    text-align: center;
}

.create-container{
    background-color: white;
    height: auto;
    margin: 0 75px 75px 75px;
    border-radius: 15px;
}

.tabs{
    background-color: white;
    height: 58px;
    width: 388px;
    margin: 25px auto;
    border-radius: 10px;
}

.tab-button{
    position: absolute;
    background-color: #085B91;
    height: 38px;
    width: 116px;
    border-radius: 7px;
    z-index: 0;
    transition: 0.3s;
}

.first{
    transform: translateX(-126px);
    transition: 0.3s;
    z-index: 0;
}

.third{
    transform: translateX(126px);
    transition: 0.3s;
    z-index: 0;
}

@media only screen and (max-width: 450px) {
    .create-container {
        margin: 0;
        border-radius: 0;
        width: 100%;
    }


}

@media only screen and (max-width: 400px) {

    .tabs{
        width: 100%;
        height: 40px;
    }

    .tabs button{
        align-items: center;
    }

    .tab-button{
        width: 95%;
    }
    .first{
        transform: translateX(0) translateY(-44px);
    }

    .second{
        transform: translateX(0) translateY(0);
    }

    .third{
        transform: translateX(0) translateY(44px);
    }

    .create-container{
        margin-top: 125px;
    }

}